<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="table1" value="Songs" />
    <add key="table2" value="Albums" />
    <add key="table1_FKColumnName" value="AlbumId" />
    <add key="table2_FKColumnName" value="Id" />
    <add key="foreignKey" value="FK__Songs_Albums" />
  </appSettings>
  <!--<appSettings>
    <add key="table1" value="Playlists" />
    <add key="table2" value="Users" />
    <add key="table1_FKColumnName" value="CreatingUserId" />
    <add key="table2_FKColumnName" value="Id" />
    <add key="foreignKey" value="FK__Playlists_Users" />
  </appSettings>-->
</configuration>