html {
    height:100%;
    width:100%;
}

body {
    height:100%;
    width:100%;
    margin:0;
}

hr{
    margin: 2px;
    border-color: black 1px;
}

.half {
    height: calc(50% - 3px);
}

.red_gradient {
    background-color: red;
    background-image: radial-gradient(circle, white, transparent 100%);
}

.blue_gradient{
    background-color: blue;
    background-image: radial-gradient(circle, white, transparent 100%);
}