<label for="_type">Type</label> <input [(ngModel)]="type" id="_type" type="text" name="type">
<br />

<label for="_serverity">Severity</label> <input [(ngModel)]="severity" id="_serverity" type="text" name="severity">
<br />

<label for="_date">Date</label> <input [(ngModel)]="date" id="_date" type="date" name="date">
<br />

<label for="_userid">User ID</label> <input [(ngModel)]="userId" id="_userid" type="integer" name="userid">
<br />

<label for="_text">Text</label> <input [(ngModel)]="text" id="_text" type="text" name="text">
<br />

<div>
    <button id="submitNewLogButton" type="button" (click)="addLog()">Submit</button>
</div>

<div id="status">

</div>