div {
    background: blue;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
  }

div:hover {
    background-color: red;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
}

/* html:hover div {
    background-color: red;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
} */